In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from dt import DecisionTree
import pandas as pd

In [3]:
df = pd.DataFrame({"a": range(10), "b":range(1,11)})
df["target"] = (df["a"] > 5) * 1 * (df["b"] % 2 == 0)

In [4]:
df

   a   b  target
0  0   1       0
1  1   2       0
2  2   3       0
3  3   4       0
4  4   5       0
5  5   6       0
6  6   7       0
7  7   8       1
8  8   9       0
9  9  10       1

In [5]:
dt = DecisionTree()
dt.fit(df, ["a", "b"], "target")

class:0
Depth 0: a <= 6.029999999999995
class:0
class:1
Depth 1: a <= 7.02
class:1
class:0
Depth 2: a <= 8.01
class:0
class:1

In [6]:
X = pd.DataFrame({"a": [10,12,5,6,9,0,1,5,100,2], "b":range(1,11)})
X

     a   b
0   10   1
1   12   2
2    5   3
3    6   4
4    9   5
5    0   6
6    1   7
7    5   8
8  100   9
9    2  10

In [7]:
dt.predict(X)

[1, 1, 0, 0, 1, 0, 0, 0, 1, 0]

In [8]:
df_1 = pd.DataFrame({'a': [0]*20, 'b': range(20)})
df_1["target"] = (df_1["b"] > 10) * 1 * (df_1["b"] % 2 == 0)
df_1

    a   b  target
0   0   0       0
1   0   1       0
2   0   2       0
3   0   3       0
4   0   4       0
5   0   5       0
6   0   6       0
7   0   7       0
8   0   8       0
9   0   9       0
10  0  10       0
11  0  11       0
12  0  12       1
13  0  13       0
14  0  14       1
15  0  15       0
16  0  16       1
17  0  17       0
18  0  18       1
19  0  19       0

In [11]:
dt_1 = DecisionTree()
dt_1.fit(df_1, ["a", "b"], "target")

class:0
Depth 0: b <= 11.02
class:0
class:1
Depth 1: b <= 12.07
class:1
class:0
Depth 2: b <= 13.06
class:0
class:1
Depth 3: b <= 14.05

In [10]:
dt_1.predict(pd.DataFrame({"a":[0]*5, "b": [1,2,3,1000,12]}))

[0, 0, 0, 1, 1]